@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}
.wrapper {
  position: relative;
  max-width: 300px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 30px 25px;
  box-shadow: rgba(0, 0, 0, 0.541) 0px 7px 20px 0px;
  transition: 0.3s;
}
.heading {
  text-align: center;
  margin-bottom: 1.3rem;
  margin-top: -0.5rem;
  font-size: 1.15rem;
}
.wrapper .password-box {
  position: relative;
  height: 50px;
}
.password-box input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 0 45px 0 15px;
  box-shadow: rgb(204, 219, 232) 2px 2px 4px 0px inset,
    rgba(255, 255, 255, 0.5) -2px -2px 5px 1px inset;
  border: 1px solid rgb(93, 93, 93);

  background-color: transparent;
}
.password-box .copy-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  color: #707070;
  font-size: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}
.copy-icon:hover {
  color: #202020;
}
.wrapper .range-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.range-box input {
  width: 100%;
  height: 6px;
  accent-color: #3a3d40;
  cursor: pointer;
}
.range-box .slider-number {
  min-width: 30px;
  text-align: right;
  font-size: 17px;
  color: #514f4f;
}

.wrapper .generate-button {
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 12px 0;
  margin-top: 20px;
  font-size: 0.9rem;
  border: 1.2px solid rgba(0, 0, 0, 0.901);
  font-weight: 500;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.generate-button:hover {
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.95);
  border: 1.2px solid rgba(0, 0, 0, 0.901);
}
